@import url('@/assets/fonts.css');



:root {
	--poppins: Poppins, sans-serif;
	--livvic: Livvic, sans-serif;

	--black: #101011;
	--main-1: #c0e9ff;
	--extra-1: #fffefb;
	--extra-2: #1d1c1c;
	--extra-3: #f5f4ed;
	--extra-4: #71c4ef;


	--header-bg-color: #c0e9ff;
	--header-nav-link-color: ;
	--header-outlink-color: ;

	--button-active-text-color: #fffffc;
	--button-active-bg-color: #101011;


	--hero-bg-color: #c0e9ff;




	--bg-200: #f5f4f1;
	--primary-100: #d4eaf7;
	--primary-300: #3b3c3d;
	--accent-200: #00668c;
	--text-200: #313d44;
	--bg-300: #cccbc8;



/************************\
|*       Desktop        *|
\************************/


	--body-text: 18px;
	--large-body-text: 1.75rem;
	--small-body-text: 14px;
	--h1: 5rem;
	--h2: 3rem;
	--h3: 2.375rem;
	--h4: 2rem;
	--h5: 1.75rem;
	--h6: 1.5rem;

	--header-logo-height: 30px;
}


@media (max-width: 900px) {

:root {
	/************************\
	|*       Mobile         *|
	\************************/


	--body-text: 1.125rm;
	--large-body-text: 1.75rem;
	--small-body-text: 0.75rem;
	--h1: 3rem;
	--h2: 3rem;
	--h3: 2.375rem;
	--h4: 2rem;
	--h5: 1.75rem;
	--h6: 1.5rem;

	--header-logo-height: 30px;
} 

}



* {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
}

.poppins {
	font-family: var(--poppins);
}

.livvic {
	font-family: var(--livvic);
}






/************************\
|*        Header        *|
\************************/


.header {
	background: var(--header-bg-color);



	/*padding-left: 20vw;
	padding-right: 20vw;*/

	width: 100wh;
	height: 85px;

	display: flex;
	flex-flow: row nowarp;
	justify-content: center;
	align-items: center;
}

.header-container {
	height: 85px;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-items: center;
}

.header .nav {
	display: flex;
	flex-flow: row nowarp;
}

.header .nav a {
	/*font-family: var(--livvic);*/
	letter-spacing: 0.7px;
	margin-left: 15px;
	margin-right: 15px;

}

.header .logo {

}

.header .logo img {
	height: var(--header-logo-height);
}

.header .outlinks {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}

.header .outlinks * {
	margin-left: 5px;
	margin-right: 5px;
}

.header .outlinks .social {
	width: 3rem;
}

.header .outlinks .button {
	padding: 12px 25px;
	border-radius: 80px;

	background: var(--button-active-bg-color);
	color: var(--button-active-text-color);

	letter-spacing: 2px;

	font-size: var(--small-body-text);
}

.header .menu-btn {
	display: none;
}

/**********************************************************/


@media (max-width: 900px) {

.header .nav {
	display: none;
}

.header .outlinks {
	display: none;
}

.header .menu-btn {
	display: block;

}

.header-container {
	width: 100%;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
}

}






/************************\
|*         Hero         *|
\************************/


#hero {
	background: var(--hero-bg-color);
	
	width: 100vw;
	height: calc(75vh - 85px);
	min-height: 500px;

	padding-left: 15px;
	padding-right: 15px;

	display: flex;
	justify-content: center;
	align-items: center;
}

#hero .main-text {
	font-weight: 600;
	font-size: var(--h1);
	line-height: 1;

	margin-bottom: 40px;
}

#hero .main-text span {
	font-weight: 400;
}

#hero .text {
	font-weight: 400;
	font-size: var(--large-body-text);
	margin-bottom: 40px;
}

#hero .text span {
	font-weight: 600;
}

#hero .button {
	padding: 12px 25px;
	border-radius: 80px;

	background: var(--button-active-bg-color);
	color: var(--button-active-text-color);

	letter-spacing: 1px;

	font-size: var(--body-text);
}

/**********************************************************/


@media (max-width: 900px) {

#hero {
	padding-top: 100px;
	padding-bottom: 70px;
}

}






/************************\
|*       For-whom       *|
\************************/


#for-whom {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#for-whom .container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#for-whom .block {
	display: grid;
	grid-template-columns: 1fr .75fr;
	align-items: center;
}

#for-whom .block .text-container {

}

#for-whom .block img {
	width: 30rem;
}